$veryDarkDesaturatedblue: hsl(222, 26%, 31%);
$darkDesaturatedBlue:hsl(223, 31%, 20%);
$desaturatedBlue : hsl(224, 36%, 15%);
$darkDesaturatedBlueBackground:hsl(225, 21%, 49%);
$VeryDarkDesaturatedBlueKey:hsl(224, 28%, 35%);
$grayishOrange: hsl(28, 16%, 65%);


// key shadows

$keyBackground: hsl(225, 21%, 49%);
$keyshadow: hsl(224, 28%, 35%);

$RedkeyBackgroundToggle: hsl(6, 63%, 50%);
$DarkRedkeyshadow: hsl(6, 70%, 34%);

$Lightgrayishorangekeybackground: hsl(30, 25%, 89%);
$Grayishorangekeyshadow: hsl(28, 16%, 65%);


// test

$VerydarkgrayishblueText: hsl(221, 14%, 31%);
$white : hsl(0, 0, 100%);




// Theme 2

// Backgrounds

$Lightgray: hsl(0, 0%, 90%);
$Grayishred: hsl(0, 5%, 81%);
$Verylightgray: hsl(0, 0%, 93%);

// Keys

$Darkmoderatecyan : hsl(185, 42%, 37%);
$Verydarkcyan: hsl(185, 58%, 25%);

$Orange: hsl(25, 98%, 40%);
$Darkorange: hsl(25, 99%, 27%);

$Lightgrayishyellow: hsl(45, 7%, 89%);
$Darkgrayishorange: hsl(35, 11%, 61%);

//  Text

$Verydarkgrayishyellow: hsl(60, 10%, 19%);


// theme3



// ### Theme 3

// #### Backgrounds

$Verydarkviolet: hsl(268, 75%, 9%);
$Verydarkviolets: hsl(268, 71%, 12%);

// Keys

$Darkviolet: hsl(281, 89%, 26%);
$Vividmagenta : hsl(285, 91%, 52%);

$Purecyan: hsl(176, 100%, 44%);
$Softcyan: hsl(177, 92%, 70%);

$Verydarkviolet : hsl(268, 47%, 21%);
$Darkmagenta : hsl(290, 70%, 36%);

// #### Text

$Lightyellow: hsl(52, 100%, 62%);
$Verydarkblue: hsl(198, 20%, 13%);
$White: hsl(0, 0, 100%)
